.mail-folders {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.mail-folders button {
    padding: 8px 20px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    background-color: transparent;
    text-align: left;
}

.mail-folders a.active button {
    background-color: #d3e3fd;
    font-weight: bold;
}

.mail-folders button:hover {
    background-color:#d3e3fd ;
}

@media (max-width: 700px) {
 .mail-folders {
        position: fixed;

        bottom: 0;
        left: 0;

        z-index: 20;

        display: flex;
        flex-direction: row;

        width: 100%;
        height: 60px;

        background-color: #f6f8fc;
    }

    .mail-folders a {
        display: flex;
        flex: 1;
        text-decoration: none;
        color: inherit;
    }

    .mail-folders button {
        flex: 1;

        border: none;
        background-color: transparent;

        text-align: center;
    }

    .mail-folders a.active button {
        background-color: #d3e3fd;
        font-weight: bold;
    }
}