.mail-folders {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.mail-folders button {
    padding: 8px 20px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    background-color: transparent;
    text-align: left;
}

.mail-folders a.active button {
    background-color: #d3e3fd;
    font-weight: bold;
}