.mail-index {
    display: grid;
    grid-template-columns: 170px 1fr;
    min-height: calc(100vh-70px);
    background-color: #f6f8fc;
    min-height: 100vh;

}

.side-bar {
    padding: 15px 10px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.compose-btn-icon {
    display: none;
}

.side-bar>button {
    padding: 15px 25px;
    border: none;
    border-radius: 15px;
    background-color: #c2e7ff;
    font-size: 1em;
    cursor: pointer;
}

.inner-index {
    min-width: 0;

    margin-top: 10px;
    margin-right: 15px;

    background-color: white;

    border-radius: 16px;

    overflow: hidden;
}

@media (max-width: 700px) {

    .mail-index {
        display: block;
        min-height: 100vh;
        background-color: white;
    }

    .side-bar>button {
        position: fixed;
        bottom: 80px;
        right: 10px;
         display: flex;
        justify-content: center;
        align-items: center;
        width: 56px;
        height: 56px;
        padding: 0;
        font-size: 20px;
        z-index: 100;
        border-radius: 50%;
    }

    .inner-index {
        width: 100%;
        margin: 0;

        padding-bottom: 60px;

        border-radius: 0;
    }

    .compose-btn-icon {
        display: block;
    }

    .compose-btn-text {
        display: none;
    }
}