.noteVideo {
    display: flex;
    flex-direction: column;
}

.noteVideo iframe {
    width: 100%;
    aspect-ratio: 16 / 9;

    border: none;
    border-radius: 8px;
}

.noteVideo h3 {
    margin: 12px 0 0;
}