.container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 25px 20px;
}

.container > input {
    display: block;
    width: 100%;

    box-sizing: border-box;

    padding: 14px 18px;
    border: 1px solid #ddd;
    border-radius: 10px;

    font-size: 16px;
    outline: none;
}

.container > input:focus {
    border-color: #888;
}