.app-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0.5em;
    background: #FFF0C2;
}

nav a {
    margin: .5em;
}

nav a.active {
    color: var(--color1);
    font-weight: bold;
    text-decoration: overline;
}

.logo {
    width: 250px;
    height: auto;
}

@media (max-width: 700px) {

    .app-header {
        align-items: center;
        padding: 0.5em;
    }

    .logo {
        width: 130px;
    }

    nav {
        display: flex;
        align-items: center;
    }

    nav a {
        margin: 0.3em;
        font-size: 0.9rem;
    }
}