.app-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0.5em;
    background: #FFF0C2;
}

nav a {
    margin: .5em;
}

nav a.active {
    color: var(--color1);
    font-weight: bold;
    text-decoration: overline;
}

.logo {
    width: 250px;
    height: auto;
}